<html>
  <head>
    <style>
      body { width: 100%; margin-left: -2px; } .bb { border: 2px solid black;
      border-collapse: collapse; } table { width: 100%; } table, th, td {
      border: 2px solid black; border-collapse: collapse; } td { text-align:
      center; } h3 { text-align: center; }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>Sl</th>
        <th>Deduction</th>
        <th>Amount</th>
        <th>Month</th>

      </tr>
      {{!-- {{#each data}} --}}
      <tr>
        <td>{{inc @index}}</td>
        <td>{{deduction}}</td>
        <td>{{calculatedDeduction}}</td>
        <td>{{month}}</td>
      </tr>
      {{!-- {{/each}} --}}
    </table>
  </body>
</html>