<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student ID Card</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        .id-card {
            width: 240px;
            height: 350px;
            border-radius: 10px;

                {
                    {
                    !-- box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                    --
                }
            }

            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 10px;
            position: relative;
            border: 1px solid white;

        }

        .id-card .photo-background {
            width: 100%;
            height: 80px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: purple;
            z-index: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }


        .id-card .footer {
            width: 100%;
            height: 60px;
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: purple;
            z-index: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }


        .id-card .logo {
            width: 80px;
            height: 80px;

            z-index: 1;
            background-color: purple;
            position: relative;
            margin-top: -25px;
        }

        .id-card .photo {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 3px solid white;
            z-index: 1;
            background-color: purple;
            position: relative;
            margin-top: 20px;

        }



        .id-card p {
            margin: 3px 0;
        }

        .id-card .details {
            display: flex;
            flex-direction: column;



        }

        .id-card .details span {
            color: black;
            margin-bottom: 5px;

        }

        .name {
            color: rgb(252, 167, 9);
            font-size: 15px;
        }

        .header {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 5px;
            color: white;


        }

        .school-name {
            font-weight: bold;

        }

        .maindiv {
            display: flex;
            text-align: left;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="id-card">
        <div class="photo-background">


            <div class="header">
                <p class="school-name">Global Public Primary School </p>

            </div>
        </div>
        <img class="photo" src="https://via.placeholder.com/100" alt="Photo" />
        <p class="name">Neha Patil</p>
        <div class="maindiv">
            <div class="details">
                <span>Class </span>
                <span>Section </span>
                <span>Roll No </span>
                <span>DOB </span>
                <span>Father Name </span>
                <span>Phone No </span>
            </div>

            <div class="details">
                <span style="margin-left: 10px;margin-right:10px"> - </span>
                <span style="margin-left: 10px;margin-right:10px"> - </span>
                <span style="margin-left: 10px;margin-right:10px"> - </span>
                <span style="margin-left: 10px;margin-right:10px"> - </span>
                <span style="margin-left: 10px;margin-right:10px"> - </span>
                <span style="margin-left: 10px;margin-right:10px"> - </span>
            </div>
            <div class="details">
                <span>1</span>
                <span>B</span>
                <span>7</span>
                <span>04/08/1999</span>
                <span>xyz</span>
                <span>+91 9999999999</span>
            </div>
        </div>
        <div class="footer">
            <img class="logo" src="https://via.placeholder.com/100" alt="Logo" />
            <p style="font-size: 10px;">@Enquiry: +91 9999999999</p>
        </div>
    </div>
</body>

</html>